body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  padding: 0 10px;
  text-decoration: none;
}

img.cafe {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

img.coffee {
  width: 40%;
  height: auto;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

button {
  z-index: 1;
  background-color: #333;
  padding: 0.6em;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 1em;
  width: 125px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.35);
}

.modal-content {
  width: 50%;
  height: 40%;
  margin: 15% auto;
  background-color: #fff;
  border: 1px solid black;
  padding: 30px 0;
  border-radius: 3px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.46);
}

.close-button {
  font-size: 1.8em;
  padding: 0;
  margin: 0 0px;
  cursor: pointer;
}

.modal-body input {
  width: 200px;
  padding: 10px;
  margin: 25px auto;
  font-size: 0.9em;
  display: block;
}

.modal-header {
  display: flex;
  justify-content: space-evenly;
}

/* .modal-content {
    display: flex;
    justify-content: space-between;
} */

.main-content {
  display: flex;
}

.main-content div {
  align-content: center;
}
